html {
  height: 100vh;
}
body {
  min-height: 100%;
  background: linear-gradient(to right, #dd5e89, #f7bb97);
  font-family: sans-serif;
}

#weather-info {
  margin-top: 50px;
}
main {
  max-width: 1000px;
  background-color: white;
}
